* {
	margin: 0;
}

header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 55px;
	box-shadow: 0 1px 9px gray;
	z-index: 1;
}

#logo {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 15px;
	letter-spacing: 4px;
	position: absolute;
	left: 8px;
	padding: 8px 16px;
	margin: 8px 8px;
	cursor: pointer;
	text-align: center;
	line-height: 1.5;
	font-weight: 100;
	overflow: hidden;
}

#logo a {
	text-decoration: none;
	color: #000;
}

#logo:hover {
	background-color: #ccc;
	flex-direction:row;
}

#navid {
	list-style-type: none;
	display: flex;
	position: absolute;
	right: 16px;
	margin-top: 8px;
}

li:hover {
	background-color: #ccc;
	flex-direction:row;
}

li a {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 15px;
	letter-spacing: 4px;
	left: 8px;
	cursor: pointer;
	line-height: 1.5;
	font-weight: 100;
	text-decoration: none;
	color: #000;
	padding: 0;
	display: block;
}

.navbar {
	outline: 0;
	padding: 8px 16px;
}

main {
	margin: 0 auto;
	max-width: 1600px;
	display: block;
}

#tag_main {
	position: relative;
}

.hamburger {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

#tag_main h1 {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 12px 24px;
	margin: 11px 0;
	font-weight: 400;
	line-height: 1.7;
	opacity: 0.6;
	color: #000;
	letter-spacing: 5px;
	font-size: 36px;
}

/*		About		*/

.section {
	display: flex;
	position: relative;
	padding: 64px 0;
	max-width: 1100px;
	margin: auto;
}

.right {
	text-align: center;
	line-height: 1.5;
}

h1 {
	font-family: "Playfair Display";
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 5px;
	padding-left: 1px;
	margin: 18px 0;
}

.right h4 {
	font-family: "Playfair Display";
	font-weight: 400;
	letter-spacing: 5px;
	padding: 25px 0 12px 1px;
	font-size: 18px;
}

.para {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	text-align: left;
	margin: 0 24px;
	padding: 6px 1px;
}

.f-para span {
	background-color: #F1F1F1;
	padding: 3px 8px 4px 8px;
	text-align: center;
}

.s-para {
	color: #757575!important;
	padding: 12px 1px;

}

.left img {
	margin: 8px 24px;
	width: 501px;
	opacity: 0.75;
	border-radius: 4px;
}

/*		hr		*/

hr {
	max-width: 1100px;
	margin: 18px auto;
	border: 0;
	border-top: 1px solid #eee;
}

/*		Menu		*/

.menu {
	justify-content: space-around;
}

.header-menu {
	margin-right: 64px;
}

.header-menu h4 {
	font-family: "Playfair Display";
	font-size: 20px;
	text-align: left;
}

.header-menu p {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 15px;
	text-align: left;
	color: #757575;
	padding-bottom: 24px;
}

.img-menu {
	border-radius: 4px;
	vertical-align: middle;
	opacity: 0.75;
}

/*		contact		*/

.contact {
	flex-direction: column;
}

.contact h1 {
	margin: 16px 20px;
}

.contact p {
	margin: 12px 0;
	line-height: 1.5;
	margin: 20px 12px;
}

input {
	font-family: "Times New Roman", Georgia, Serif;
	width: 100%;
	padding: 14px 8px;
	font-size: 16px !important;
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 8px;
	color: #757575!important;
}

address {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 18px;
	font-style: normal;
	color: #607d8b!important;
	line-height: 1.5;
	font-weight: bold;
	margin-left: 10px;
}

#submit {
	font-family: "Times New Roman", Georgia, Serif;
	background-color: #f1f1f1;
	font-size: 15px !important;
	border: none;
	padding: 12px 16px;
	margin: 24px 10px;
	text-transform:uppercase;
	cursor: pointer;
}

#submit:hover {
	background-color: #ccc;
}

/*		footer		*/

footer {
	background-color: #F1F1F1;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	vertical-align: middle;
}

footer a {
	color: #000;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 15px;
	cursor: pointer;
	margin-bottom: 12px;
}

footer p {
	font-family: "Times New Roman", Georgia, Serif;
	color: #000;
	font-size: 15px;
	padding: 5px;
}

/*		responsive		*/

@media only screen and (max-width: 1100px) {
	body {
		overflow-x: hidden;
	}
	.section {
		margin: 10%;
	}
	#navid {
		display: none;
	}
	#about {
		display: flex;
		flex-direction: column-reverse;
	}
	.left img {
		/* display: none; */
		/* width: 100%; */
		/* margin: auto 0; */
	}
	#menu {
		display: block;
		/* margin-left: 20px; */
		flex-direction: column;
		/* margin:auto; */
		/* padding: auto; */
	}
	
	.img-menu {
		/* display: none; */
		/* display: block; */
		flex-direction: column;
		/* margin: auto; */
	}
	input {
		width: 90%;
		margin-left: 15px;
	}
	#submit {
		margin-left: 15px;
	}
}